h2 {
  font-size: 2rem !important;
  line-height: 3rem;
  font-weight: 500 !important;
}

h4 {
  font-size: 3rem !important;
  line-height: 3.2rem;
  color: #0d5074;
  font-family: "Domine", serif;
}

h6 {
  font-weight: 600;
  color: #454040;
}

h5 {
  font-weight: 500;
  color: #0d5074;
  font-size: 1.5rem !important;
}

.hero-sec {
  background-image: url("img/herophoto.webp");
  background-position: center;
}

.domine {
  font-family: "Domine", serif;
}

.quicksend {
  font-family: "Quicksand", sans-serif;
}

p,
span {
  font-family: "Quicksand", sans-serif;
  color: #454040;
}

.transparent-bg {
  background-color: rgba(233, 232, 232, 0.72);
}

.yellow-bg {
  background-color: #ffefdb;
}

.it-a {
  grid-area: one;
}

.it-b {
  grid-area: two;
}

.it-c {
  grid-area: three;
}

.it-d {
  grid-area: four;
}

.companies {
  display: grid;
  grid-template-columns: 50% calc (50% - 0.5rem);
  grid-template-rows: auto;
  gap: 1rem;
  justify-items: center;
  grid-template-areas:
    "one two"
    "three four";
}

.item1,
.img_1 {
  grid-area: one;
}

.item2,
.img_2 {
  grid-area: two;
}

.item3,
.img_3 {
  grid-area: three;
}

.item4,
.img_4 {
  grid-area: four;
}

.grid_2 {
  display: grid;
  grid-template-columns: 90%;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "one"
    "two"
    "three "
    "four";
}

.imgGrid {
  display: grid;
  grid-template-columns: 50% calc(50% - 1rem);
  grid-template-rows: 150px 70px 150px;
  gap: 1rem 1rem;
  grid-template-areas:
    "one two"
    "three two"
    "three four";
}

.img_1 {
  background-image: url("img/photo1.jpeg");
}

.img_2 {
  background-image: url("img/photo4.jpg");
}

.img_3 {
  background-image: url("img/photo2.jpeg");
}

.img_4 {
  background-image: url("img/photo3.jpg");
}

.allproducts {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 4rem 1rem;
  justify-items: center;
  margin-bottom: 8rem;
}

.border-b {
  border-bottom: 1px white solid;
}

.product-box {
  min-width: 16rem;
  height: 27rem;
}

.black-hover:hover {
  color: #454040;
}

.ocean-blue {
  color: #0d5074;
}

.blue-bg {
  background-color: #0d5074;
}

.light-gray {
  color: #978a8a;
}

.black {
  color: #454040;
}

.light-bg {
  background-color: #e9e9e8;
}

.light {
  color: #e9e9e8;
}

.top-1rem {
  top: -1rem;
}

.right5 {
  right: 5%;
}

.translatey-50 {
  transform: translateY(-50%);
}

.blue-cube {
  color: #e9e9e8;
  background-color: #0d5074;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.line {
  width: 1px;
  height: 60px;
  background-color: #0d5074;
  border: 1px solid #0d5074;
}

.mycontainer {
  margin-left: 1rem;
  margin-right: 1rem;
}
